@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
/*the two fonts that we will be using for the website */

/*the colour scheme: 457CBF (main blue colour) - D5241C (red) - 09376e (darker blue) - FF7B74 (pink/light red)*/

p {
    font-family: 'Parkinsans';
    font-size: clamp(5px, 2vw, 20px);
    color:#457CBF;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.p-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: clamp(5px, 2vw, 20px);
}

.p-container-no-box {
    display: flex;
    justify-content: center;
    margin: clamp(5px, 3vw, 20px);
}

.red-text {
    font-family: 'Parkinsans';
    color:#D5241C;
    font-weight: bold;
}

.box1 {
    background-color: #0F4B92;
    border: 6px solid #09376e;
    width: 68%;
    max-width: 700px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(10.5px, 3vw, 25px);
    padding-top: clamp(5px, 3vw, 10px);
    margin: 0 auto;
    margin-top: clamp(15px, 3vw, 36px);
    text-align: center;
}
@media (max-width: 600px) {
    .box1 {
    background-color: #0F4B92;
    border: 6px solid #09376e;
    width: 95%;
    padding: clamp(10.5px, 3vw, 25px);
    padding-top: clamp(5px, 3vw, 10px);
    margin: 0 auto;
    margin-top: clamp(15px, 3vw, 36px);
    margin-top: clamp(15px, 3vw, 36px);
    text-align: center;
    }
}

.box2 {
    background-color: #0F4B92;
    border: 6px solid #09376e;
    width: 80%;
    max-width: 1000px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    padding-top: 10px;
    margin: 0.01%, 0.%, 0.01%, 0%;
    text-align: center;
    flex-direction: column;
}

@media (max-width: 600px) {
    .box2 {
    background-color: #0F4B92;
    border: 6px solid #09376e;
    width: 80%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    padding-top: 10px;
    margin: 0.04%, 0%, 0.04%, 0%;
    text-align: center;
    flex-direction: column;
    }
}

.box3 {
    background-color: #0F4B92;
    border: 6px solid #09376e;
    width: 40%;
    max-width: 500px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 1%;
    padding-top: 0.55%;
    margin: 36px;
    text-align: center;
    float: left;
}

@media (max-width: 600px) {
    .box3 {
    background-color: #0F4B92;
    border: 6px solid #09376e;
    width: 40%;
    max-width: 500px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    padding: 1%;
    padding-top: 0.55%;
    margin: clamp(15px, 3vw, 36px);
    text-align: center;
    }
}

.box1 p {
    color:#ffffff;
}

.box2 p {
    color:#ffffff;
}

.box3 p {
    color:#ffffff;
}

.links {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.links a {
        text-decoration: none;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-family: 'Parkinsans';
        font-size: clamp(8px, 3vw, 20px);
        color: #D5241C;
}

.links a:last-child {
    border-right: none;
}

.link-in-text {
    color: #FF7B74;
    text-decoration: none
}

#title p{
    color: #457CBF;
    font-family: 'Space Grotesk';
    font-weight: bold;
    font-size: clamp(50px, 3vw, 120px);
}

#title {
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-top: 33px;
}

#slogan {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Parkinsans';
    font-weight: bold;
    color: #457CBF;
    font-size: clamp(10px, 5vw, 24px);
}

#euler {
    float: right;
    height: 65%;
    max-height: 360px;
    width: auto;
    border-radius: 20px;
    margin-right: clamp(90px, 9vw, 180px);
    margin-left: clamp(36px, 3vw, 90px);
    border-radius: 10%;
}

.resources-we-love {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 600px) {
    .resources-we-love {
    display: flex;
    flex-direction: row;
    align-items: center;
    }
    .euler {
    height: 10%;
    max-height: 100px;
    }
}

#hopper {
    height: 50%;
    max-height: 300px;
    width: auto;
    border-radius: 20px;
    margin: clamp(9px, 5vw, 30px);
}

.nea-advice { /*exact same as 'resources-we-love so maybe it can be made into one class (theres quite a bit of redundancy in the project at the moment)'*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 36px;
}

#gates {
    height: 50%;
    max-height: 300px;
    width: auto;
    border-radius: 20px;
    margin: 30px;
}

.band {
    width: 100%;
    height: 360px;
    background-color: #09376e;
    display: flex;
    align-items: center;
    margin: 0;
}

@media (max-width: 600px) {
    .band {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        height: auto;
    }
}

.more-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

table, th, td {
    border: 1px solid #09376e;
    border-collapse: collapse;

    font-family: 'Parkinsans';
    font-size: clamp(6.25px, 3vw, 15px);
    color:#457CBF;
    font-weight: bold;
}

th, td {
    padding: 10px;
    text-align: left;

    

}

td{
    font-size: clamp(5px, 3vw, 12px);
}



table {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}

th {
    background-color: #0F4B92;
    color: white;
}

#currentpagecolour {
    color: #09376e;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Parkinsans';
    background-color: #ffffff;
    color: #1a202c;
    min-height: 100vh;
    margin: 0;
}
.page-container {
    width: 100%;
    max-width: 650px;
    text-align: center;
}
.logo-container {
    margin-bottom: 20px;
}
.main-title {
    color: #457CBF;
    font-family: 'Space Grotesk';
    margin: 35px 0px 35px 0px;
    display: flex;
    justify-content: center;
}
.main-title p{
    font-size: clamp(12.5px, 3vw, 30px);
    font-weight: 800;
    letter-spacing: 0.5px;
    font-family: 'Space Grotesk';
}
.card {
    background: #0F4B92;
    border: 6px solid #09376e;
    border-radius: 16px;
    padding: 1em;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    width: 80%;
}

.card p {
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.6;
    }

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .card-primary {
    background-color: #0F4B92; 
    width: 800px;
    display: flex;
    justify-content: center;
} */
/*        @media (max-width: 480px) {
            .main-title {
                font-size: 1.5rem;
            }
            .card {
                padding: 20px;
            }
            .card p {
                font-size: 0.95rem;
            }
        }
*/

.events {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.event{
    display: flex;
    justify-content: center;
}

.event-img{
    height: 300px;
    width: auto;
    border-radius: 10px;
    margin: 30px 0px 10px 0px;
    /*goal is to keep height 300 for all event images*/
}

.event-description{
    color: #FF7B74 !important;
    font-size: clamp(6.25px, 3vw, 15px);
    width: 900px;
    text-align: center;
    font-weight: bold!important;
    margin-top: 5px;
}

.event-date{
    color: #D5241C !important;
    font-size: clamp(6px, 3vw, 14px);
    text-align: right;
    font-weight: bold !important;
    
    position: absolute;
    left: calc(50% + clamp(0px, 23vw, 450px));
    transform: translateY(30px);
}